<%= render(Polaris::BaseComponent.new(**system_arguments)) do %>
  <% if @logo.present? && !@flush %>
    <div class="Polaris-Frame-ContextualSaveBar__LogoContainer" style="width: <%= @logo.width %>">
      <%= image_tag @logo.src, style: "width: #{@logo.width}", alt: @logo.alt %>
    </div>
  <% end %>

  <div class="<%= content_classes %>">
    <%= polaris_text(
      as: :h2,
      variant: :headingMd,
      truncate: true,
      color: :text_inverse
    ) do %>
      <%= @message %>
    <% end %>
    <div class="Polaris-Frame-ContextualSaveBar__ActionContainer">
      <%= polaris_stack(spacing: :tight) do |stack| %>
        <% stack.with_item do %>
          <%= discard_action %>
        <% end %>
        <% stack.with_item do %>
          <%= save_action %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
