<%= polaris_layout do |layout| %>
  <% layout.with_section(one_fourth: true) do %>
    <%= polaris_card(title: "First quarter", sectioned: true) do %>
      <p>View a summary of your order.</p>
    <% end %>
  <% end %>
  <% layout.with_section(one_fourth: true) do %>
    <%= polaris_card(title: "Second quarter", sectioned: true) do %>
      <p>Add tags to your order.</p>
    <% end %>
  <% end %>
  <% layout.with_section(one_fourth: true) do %>
    <%= polaris_card(title: "Third quarter", sectioned: true) do %>
      <p>Add tags to your order.</p>
    <% end %>
  <% end %>
  <% layout.with_section(one_fourth: true) do %>
    <%= polaris_card(title: "Third quarter", sectioned: true) do %>
      <p>Add tags to your order.</p>
    <% end %>
  <% end %>
<% end %>
