<%= content_tag('div', content_tag_options) do %>
  <div class="Polaris-EmptyState__Section">
    <div class="Polaris-EmptyState__DetailsContainer">
      <div class="Polaris-EmptyState__Details">
        <%= polaris_text_container do %>
          <%= polaris_display_text(element: :h1) do %>
            <%= @heading %>
          <% end %>

          <div class="Polaris-EmptyState__Content">
            <%= content %>
          </div>
        <% end %>

        <div class="Polaris-EmptyState__Actions">
          <%= polaris_stack(alignment: :center, distribution: :center, spacing: :tight) do |stack| %>
            <% if @action.present? %>
              <% stack.item do %>
                <%= render_primary_complex_action_button(@action) %>
              <% end %>
            <% end %>

            <% if @secondary_action.present? %>
              <% stack.item do %>
                <%= render_complex_action_button(@secondary_action) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="Polaris-EmptyState__ImageContainer">
      <img src="<%= @image %>" role="presentation" alt="" class="Polaris-EmptyState__Image">
    </div>
  </div>
<% end %>
