<%= polaris_divider %>

<div style="display: flex; height: 200px;">
  <%= polaris_alpha_stack(gap: "025", align: :start) do %>
    <%= polaris_placeholder(height: "48px", width: "320px", label: "Start") %>
    <%= polaris_placeholder(height: "48px", width: "320px") %>
    <%= polaris_placeholder(height: "48px", width: "320px") %>
  <% end %>
</div>

<%= polaris_divider %>

<div style="display: flex; height: 200px;">
  <%= polaris_alpha_stack(gap: "025", align: :center) do %>
    <%= polaris_placeholder(height: "48px", width: "320px", label: "Center") %>
    <%= polaris_placeholder(height: "48px", width: "320px") %>
    <%= polaris_placeholder(height: "48px", width: "320px") %>
  <% end %>
</div>

<%= polaris_divider %>

<div style="display: flex; height: 200px;">
  <%= polaris_alpha_stack(gap: "025", align: :end) do %>
    <%= polaris_placeholder(height: "48px", width: "320px", label: "End") %>
    <%= polaris_placeholder(height: "48px", width: "320px") %>
    <%= polaris_placeholder(height: "48px", width: "320px") %>
  <% end %>
</div>

<%= polaris_divider %>
