<%= render Polaris::BaseComponent.new(tag: "span", **@system_arguments) do %>
  <% if @progress != :default %>
    <span class="Polaris-Badge__PipContainer">
      <%= render Polaris::BaseComponent.new(**badge_pip_arguments) do %>
        <%= polaris_visually_hidden { @progress.to_s.humanize } %>
      <% end %>
    </span>
  <% end %>

  <%= polaris_text(
    as: :span,
    variant: :bodySm,
    font_weight: @status == :new ? :medium : nil
  ) do %>
    <%= content %>
  <% end %>
<% end %>
