<%= render Polaris::BaseComponent.new(**@system_arguments) do %>
  <% if header.present? %>
    <%= header %>
  <% end %>

  <% if @title.present? && !header.present? %>
    <%= render Polaris::CardComponent::HeaderComponent.new(title: @title, actions: @actions) %>
  <% end %>

  <% if sections.present? %>
    <% sections.each do |section| %>
      <%= section %>
    <% end %>
  <% else %>
    <%= render Polaris::CardComponent::SectionComponent.new do %>
      <%= content %>
    <% end %>
  <% end %>

  <% if footer? %>
    <div class="Polaris-Card__Footer<% if @footer_action_alignment == 'left' %> Polaris-Card__LeftJustified<% end %>">
      <%= polaris_button_group do |group| %>
        <% if @footer_action_alignment == 'right' %>
          <% if @secondary_footer_actions.size == 1 %>
            <% group.item do %>
              <%= render_complex_action_button(@secondary_footer_actions.first) %>
            <% end %>
          <% end %>

          <% group.item do %>
            <%= render_primary_complex_action_button(@primary_footer_action) %>
          <% end %>
        <% else %>
          <% group.item do %>
            <%= render_primary_complex_action_button(@primary_footer_action) %>
          <% end %>

          <% if @secondary_footer_actions.size == 1 %>
            <% group.item do %>
              <%= render_complex_action_button(@secondary_footer_actions.first) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
