<%= render Polaris::ChoiceComponent.new(**@wrapper_arguments) do %>
  <%= render Polaris::BaseComponent.new(**@system_arguments) do %>
    <% if @form.present? && @attribute.present? %>
      <%= @form.check_box(@attribute, @input_options, @checked_value, @unchecked_value) %>
    <% else %>
      <%= check_box_tag(@name, @value, @checked, @input_options) %>
    <% end %>

    <span class="Polaris-Checkbox__Backdrop"></span>

    <span class="Polaris-Checkbox__Icon">
      <%= polaris_icon(name: icon_name) %>
    </span>
  <% end %>
<% end %>
