<div>
  <%= render Polaris::BaseComponent.new(**@system_arguments) do %>
    <span class="Polaris-Choice__Control">
      <%= content %>
    </span>

    <% if @label %>
      <span class="Polaris-Choice__Label">
        <%= @label %>
      </span>
     <% end %>
  <% end %>

  <% if @children_content.present? %>
    <div class="Polaris-ChoiceList__ChoiceChildren">
      <%= @children_content %>
    </div>
  <% end %>

  <% if @help_text.present? || @error.present? %>
    <div class="Polaris-Choice__Descriptions">
      <% if @help_text.present? %>
        <div class="Polaris-Choice__HelpText">
          <%= polaris_text(as: :span, color: :subdued) do %>
            <%= @help_text %>
          <% end %>
        </div>
      <% end %>

      <% if @error.present? %>
        <div class="Polaris-Choice__Error">
          <%= polaris_inline_error { @error } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
