<%= render Polaris::BaseComponent.new(**system_arguments) do %>
  <div class="Polaris-EmptySearchResults__Content">
    <%= polaris_text_container do %>
      <% if image.present? %>
        <div><%= image %></div>
      <% end %>
      <%= polaris_display_text do %>
        <%= @title %>
      <% end %>
      <% if @description.present? %>
        <div><%= polaris_text_subdued { @description } %></div>
      <% end %>
    <% end %>
  </div>
<% end %>
