<%= render Polaris::BaseComponent.new(**system_arguments) do %>
  <div class="Polaris-EmptySearchResults__Content">
    <%= polaris_text_container do %>
      <%= polaris_display_text(size: :small) do %>
        <%= @title %>
      <% end %>
      <div>
        <%= polaris_text_subdued { @description } %>
      </div>
    <% end %>
  </div>
<% end %>
