<%= render Polaris::BaseComponent.new(**system_arguments) do %>
  <div class="Polaris-LegacyFilters-ConnectedFilterControl__Wrapper">
    <div class="Polaris-LegacyFilters-ConnectedFilterControl Polaris-LegacyFilters-ConnectedFilterControl--right">
      <% if query.present? %>
        <div class="Polaris-LegacyFilters-ConnectedFilterControl__CenterContainer">
          <div class="Polaris-LegacyFilters-ConnectedFilterControl__Item">
            <%= query %>
          </div>
        </div>
      <% end %>
      <% if items.present? %>
        <div class="<%= items_wrapper_classes %>">
          <% items.each do |item| %>
            <%= item %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if content.present? %>
      <div class="Polaris-LegacyFilters-ConnectedFilterControl__AuxiliaryContainer">
        <%= content %>
      </div>
    <% end %>
  </div>
  <% if tags.present? %>
    <div class="Polaris-LegacyFilters__TagsContainer">
      <%= tags %>
    </div>
  <% end %>
  <% if @help_text.present? %>
    <div class="Polaris-LegacyFilters__HelpText">
      <%= polaris_text_subdued { @help_text } %>
    </div>
  <% end %>
<% end %>
