<%= render Polaris::BaseComponent.new(**@system_arguments) do %>
  <div class="Polaris-Labelled__LabelWrapper">
    <%= render Polaris::LabelComponent.new(**@label_arguments) %>

    <% if false %>
      <div class="Polaris-Labelled__Action">
        <%# TODO: Label action %>
      </div>
    <% end %>
  </div>

  <%= content %>

  <% if renders_error? %>
    <div class="Polaris-Labelled__Error">
      <%= polaris_inline_error { @error } %>
    </div>
  <% end %>

  <% if @help_text.present? %>
    <div class="Polaris-Labelled__HelpText">
      <%= @help_text %>
    </div>
  <% end %>
<% end %>
