<%= render Polaris::BaseComponent.new(**@system_arguments) do %>
  <div class="Polaris-Labelled__LabelWrapper">
    <%= render Polaris::LabelComponent.new(**@label_arguments) %>

    <% if label_action.present? %>
      <div class="Polaris-Labelled__Action">
        <%= label_action %>
      </div>
    <% end %>
  </div>

  <%= content %>

  <% if renders_error? %>
    <div class="Polaris-Labelled__Error">
      <%= polaris_inline_error { @error } %>
    </div>
  <% end %>

  <% if @help_text.present? %>
    <div class="Polaris-Labelled__HelpText">
      <%= polaris_text(as: :span, color: :subdued, break_word: true) do %>
        <%= @help_text %>
      <% end %>
    </div>
  <% end %>
<% end %>
