<%= render(Polaris::BaseComponent.new(**wrapper_arguments)) do %>
  <div class="Polaris-ResourceItem__ItemWrapper">
    <%= render(Polaris::BaseComponent.new(**system_arguments)) do %>
      <% if @url %>
        <a
          class="Polaris-ResourceItem__Link"
          tabindex="0"
          href="<%= @url %>"
          data-polaris-unstyled="true"
          data-polaris-resource-item-target="link"></a>
      <% end %>

      <%= render(Polaris::BaseComponent.new(**container_arguments)) do %>
        <% if media.present? %>
          <div class="Polaris-ResourceItem__Owned">
            <div class="Polaris-ResourceItem__Media">
              <%= media %>
            </div>
          </div>
        <% end %>
        <div class="Polaris-ResourceItem__Content">
          <%= content %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
