<%= render(Polaris::BaseComponent.new(**wrapper_arguments)) do %>
  <div class="Polaris-ResourceItem__ItemWrapper">
    <%= render(Polaris::BaseComponent.new(**system_arguments)) do %>
      <% if @url %>
        <a
          class="Polaris-ResourceItem__Link"
          tabindex="0"
          href="<%= @url %>"
          data-polaris-unstyled="true"
          data-polaris-resource-item-target="link"
        ></a>
      <% end %>

      <%= render(Polaris::BaseComponent.new(**container_arguments)) do %>
        <% if owned? %>
          <%= render(Polaris::BaseComponent.new(**owned_arguments)) do %>
            <% if checkbox.present? || radio_button.present? %>
              <div class="Polaris-ResourceItem__Handle">
                <div class="Polaris-ResourceItem__CheckboxWrapper">
                  <%= checkbox.presence || radio_button %>
                </div>
              </div>
            <% end %>

            <% if media.present? %>
              <div class="Polaris-ResourceItem__Media">
                <%= media %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <div class="Polaris-ResourceItem__Content">
          <%= content %>
        </div>

        <% if @shortcut_actions.present? %>
          <div class="Polaris-ResourceItem__Actions">
            <%= polaris_button_group(segmented: true) do |group| %>
              <% @shortcut_actions.each do |action| %>
                <%= group.button(**action) { action[:content] } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
