<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@6.6.0/dist/styles.css"
    />
    <%= stylesheet_link_tag 'polaris_view_components' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="<%= Polaris.polaris_body_styles %>">
    <div class="app-wrapper">
      <div class="app-content">
        <main role="main">
          <%= render Polaris::Page::Component.new(title: '', title_hidden: true) do %>
            <%= yield %>
          <% end %>
        </main>
      </div>
    </div>
  </body>
</html>
