<%= render Polaris::Stack::Component.new(wrap: false) do %>
  <%= render Polaris::StackItem::Component.new(fill: true) do %>
    <%= render Polaris::FormLayout::Component.new do %>
      <%= render Polaris::FormLayoutGroup::Component.new(condensed: true, sectioned: true) do %>
        <%= render Polaris::Select::Component.new(
          attribute: :attribute,
          label: "Collection rule type",
          label_hidden: true,
          value: "product_type",
          options: [{ label: "Product type", value: "product_type" }]
        ) %>
        <%= render Polaris::Select::Component.new(
          attribute: :attribute,
          label: "Collection rule condition",
          label_hidden: true,
          value: "is_equal_to",
          options: [{ label: "Is equal to", value: "is_equal_to" }]
        ) %>
        <%= render Polaris::TextField::Component.new(
          attribute: :attribute,
          label: "Collection rule content",
          label_hidden: true,
          id: "thisIsTheId",
          error: true,
        ) %>
      <% end %>
    <% end %>

    <div style="margin-top: 4px;">
      <%= render Polaris::InlineError::Component.new(
        error: "Enter 3 or more characters for product type is equal to",
        id: "thisIsTheId"
      ) %>
    </div>
  <% end %>
  <%= polaris_button do |button| %>
    <% button.icon(name: "DeleteMinor") %>
  <% end %>
<% end %>
