<%= polaris_stack(wrap: false) do |stack| %>
  <% stack.item(fill: true) do %>
    <%= polaris_form_layout do |form_layout| %>
      <% form_layout.group(condensed: true) do |group| %>
        <% group.item do %>
          <%= render Polaris::Select::Component.new(
            attribute: :attribute,
            label: "Collection rule type",
            label_hidden: true,
            value: "product_type",
            options: [{ label: "Product type", value: "product_type" }]
          ) %>
        <% end %>
        <% group.item do %>
          <%= render Polaris::Select::Component.new(
            attribute: :attribute,
            label: "Collection rule condition",
            label_hidden: true,
            value: "is_equal_to",
            options: [{ label: "Is equal to", value: "is_equal_to" }]
          ) %>
        <% end %>
        <% group.item do %>
          <%= render Polaris::TextField::Component.new(
            attribute: :attribute,
            label: "Collection rule content",
            label_hidden: true,
            id: "thisIsTheId",
            error: true,
          ) %>
        <% end %>
      <% end %>
    <% end %>

    <div style="margin-top: 4px;">
      <%= polaris_inline_error { "Enter 3 or more characters for product type is equal to" } %>
    </div>
  <% end %>
  <% stack.item do %>
    <%= polaris_button do |button| %>
      <% button.icon(name: "DeleteMinor") %>
    <% end %>
  <% end %>
<% end %>
