<div style="display:flex">
  <%= polaris_badge { "Badge" } %>

  <%= polaris_spacer(horizontal: :extra_tight) %>

  <%= polaris_badge { "extra_tight (4px)" } %>

  <%= polaris_spacer(horizontal: :tight) %>

  <%= polaris_badge { "tight (8px)" } %>

  <%= polaris_spacer(horizontal: :base_tight) %>

  <%= polaris_badge { "base_tight (12px)" } %>

  <%= polaris_spacer(horizontal: :base) %>

  <%= polaris_badge { "base (16px)" } %>

  <%= polaris_spacer(horizontal: :loose) %>

  <%= polaris_badge { "loose (20px)" } %>

  <%= polaris_spacer(horizontal: :extra_loose) %>

  <%= polaris_badge { "extra_loose (32px)" } %>
</div>
