<%= polaris_popover(alignment: :left) do |popover| %>
  <% popover.with_activator do %>
    <button
      type="button"
      class="Polaris-TopBar-Menu__Activator"
      data-action="polaris-popover#toggle click@window->polaris-popover#hide"
    >
      <span class="Polaris-TopBar-UserMenu__Details">
        <p class="Polaris-Text--root Polaris-Text--medium Polaris-Text--block Polaris-Text--start Polaris-Text--truncate"><%= @name %></p>
        <p class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--block Polaris-Text--start Polaris-Text--subdued Polaris-Text--truncate"><%= @detail %></p>
      </span>
      <div class="Polaris-MessageIndicator__MessageIndicatorWrapper">
        <%= avatar %>
      </div>
    </button>
  <% end %>

  <%= content %>
<% end %>
