<%= polaris_vertical_stack do %>
  <%= polaris_horizontal_stack do %>
    <div style="background: #E0F8EE; width: 436px; height: 20px;">
      <%= polaris_horizontal_stack(gap: "4", wrap: false, block_align: :center) do %>
        <%= polaris_placeholder(width: "106px", height: "36px") %>
        <%= polaris_placeholder(width: "106px", height: "20px") %>
        <%= polaris_placeholder(width: "106px", height: "20px") %>
        <%= polaris_placeholder(width: "106px", height: "20px") %>
      <% end %>
    </div>
  <% end %>

  <div style="background: #E0F8EE; width: 227.98px; height: 40px;">
    <%= polaris_horizontal_stack(gap: "4", wrap: false, block_align: :end) do %>
      <%= polaris_placeholder(width: "106px", height: "20px") %>
      <%= polaris_placeholder(width: "106px", height: "20px") %>
    <% end %>
  </div>
<% end %>
