<div>
  <%= polaris_icon(name: "CirclePlusMinor", color: :base) %>
  <%= polaris_icon(name: "CirclePlusMinor", color: :subdued) %>
  <%= polaris_icon(name: "CirclePlusMinor", color: :primary) %>
  <%= polaris_icon(name: "CirclePlusMinor", color: :highlight) %>
  <%= polaris_icon(name: "CirclePlusMinor", color: :success) %>
  <%= polaris_icon(name: "CirclePlusMinor", color: :warning) %>
  <%= polaris_icon(name: "CirclePlusMinor", color: :critical) %>
</div>
