<div>
  <%= polaris_icon(name: "PlusCircleIcon", color: :base, backdrop: true) %>
  <%= polaris_icon(name: "PlusCircleIcon", color: :highlight, backdrop: true) %>
  <%= polaris_icon(name: "PlusCircleIcon", color: :success, backdrop: true) %>
  <%= polaris_icon(name: "PlusCircleIcon", color: :warning, backdrop: true) %>
  <%= polaris_icon(name: "PlusCircleIcon", color: :critical, backdrop: true) %>
</div>
