<% items = [
  {
    url: 'customers/341',
    name: 'Mae Jemison',
    location: 'Decatur, USA',
  },
  {
    url: 'customers/256',
    name: 'Ellen Ochoa',
    location: 'Los Angeles, USA',
  },
] %>

<%= polaris_card(sectioned: false) do %>
  <%= polaris_resource_list do |resource_list| %>
    <% resource_list.with_filters do |filters| %>
      <% filters.with_item(label: "Account status", sectioned: false) do %>
        <%= polaris_option_list do |list| %>
          <% list.with_checkbox(label: "Enabled", value: "enabled") %>
          <% list.with_checkbox(label: "Not invited", value: "not_invited") %>
          <% list.with_checkbox(label: "Invited", value: "invited") %>
          <% list.with_checkbox(label: "Declined", value: "declined") %>
        <% end %>
      <% end %>
      <% filters.with_item(label: "Tagged with", width: "175px") do %>
        <%= polaris_text_field %>
      <% end %>
    <% end %>

    <% items.each do |item| %>
      <%= polaris_resource_item(url: item[:url]) do |c| %>
        <% c.with_media do %>
          <%= polaris_avatar(customer: true, name: item[:name]) %>
        <% end %>

        <h3>
          <%= polaris_text_style(variation: :strong) { item[:name] } %>
        </h3>
        <div><%= item[:location] %></div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
