<%= polaris_text_container do %>
  <%= polaris_button(id: "demo-button") { "Button" } %>

  <div>
    <%= polaris_text_strong { "Actions on button:" } %><br>
    <%= polaris_button(
      plain: true,
      data: {
        controller: "polaris",
        target: "#demo-button",
        action: "polaris#disableButton"
      }
    ) { "Disable" } %> |
    <%= polaris_button(
      plain: true,
      data: {
        controller: "polaris",
        target: "#demo-button",
        action: "polaris#disableButtonWithoutLoader"
      }
    ) { "Disable without loader" } %> |
    <%= polaris_button(
      plain: true,
      data: {
        controller: "polaris",
        target: "#demo-button",
        action: "polaris#enableButton"
      }
    ) { "Enable" } %>
  </div>
<% end %>
