<%= content_tag('div', content_tag_options) do %>
  <% if @title.present? && !header.present? %>
    <div class="Polaris-Card__Header">
      <h2 class="Polaris-Heading"><%= @title %></h2>
    </div>
  <% end %>

  <% if header.present? %>
    <%= header %>
  <% end %>

  <%= content.html_safe %>

  <% if footer? %>
    <div class="Polaris-Card__Footer<% if @footer_action_alignment == 'left' %> Polaris-Card__LeftJustified<% end %>">
      <%= render Polaris::ButtonGroup::Component.new do %>
        <% if @footer_action_alignment == 'right' %>
          <% if @secondary_footer_actions.size == 1 %>
            <%= render_complex_action_button(@secondary_footer_actions.first) %>
          <% end %>

          <%= render_primary_complex_action_button(@primary_footer_action) %>
        <% else %>
          <%= render_primary_complex_action_button(@primary_footer_action) %>

          <% if @secondary_footer_actions.size == 1 %>
            <%= render_complex_action_button(@secondary_footer_actions.first) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
