<%= content_tag('div', content_tag_options) do %>
  <div class="Polaris-Page-Header Polaris-Page-Header--mobileView Polaris-Page-Header--noBreadcrumbs Polaris-Page-Header--mediumTitle <%= classes_header %>">
    <div class="Polaris-Page-Header__Row">
      <% if @back_url.present? %>
        <div class="Polaris-Page-Header__BreadcrumbWrapper">
          <nav role="navigation">
            <a class="Polaris-Breadcrumbs__Breadcrumb" href="<%= @back_url %>" data-polaris-unstyled="true">
              <span class="Polaris-Breadcrumbs__ContentWrapper">
                <span class="Polaris-Breadcrumbs__Icon">
                  <span class="Polaris-Icon">
                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                      <path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2z"></path>
                    </svg>
                  </span>
                </span>
              </span>
            </a>
          </nav>
        </div>
      <% end %>

      <div class="Polaris-Page-Header__TitleWrapper">
        <div>
          <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
            <h1 class="Polaris-Header-Title"><%= @title %></h1>

            <% if @subtitle.present? %>
              <div class="Polaris-Header-Title__SubTitle">
                <p><%= @subtitle.html_safe %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <% if @primary_action.present? %>
        <div class="Polaris-Page-Header__RightAlign">
          <div class="Polaris-Page-Header__PrimaryActionWrapper">
            <%= render_primary_complex_action_button(@primary_action) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="Polaris-Page__Content">
    <%= content %>
  </div>
<% end %>
