<li>
  <%= render Polaris::BaseComponent.new(**system_arguments) do %>
    <%= polaris_horizontal_stack(block_align: :center, gap: "2") do %>
      <% if @icon.present? %>
        <span class="Polaris-ActionList__Prefix">
          <%= polaris_icon(name: @icon) %>
        </span>
      <% end %>
      <% if prefix.present? %>
        <span class="Polaris-ActionList__Prefix">
          <%= prefix %>
        </span>
      <% end %>

      <span class="Polaris-ActionList__Text">
        <% if @help_text.present? %>
          <%= polaris_box { content } %>
          <%= polaris_text(as: :span, color: :subdued) { @help_text } %>
        <% else %>
          <%= content %>
        <% end %>
      </span>

      <% if suffix.present? %>
        <%= polaris_box do %>
          <span class="Polaris-ActionList__Suffix">
            <%= suffix %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</li>
