<li>
  <%= render Polaris::BaseComponent.new(**system_arguments) do %>
    <div class="Polaris-ActionList__Content">
      <% if @icon.present? %>
        <span class="Polaris-ActionList__Prefix">
          <%= polaris_icon(name: @icon) %>
        </span>
      <% end %>
      <% if prefix.present? %>
        <span class="Polaris-ActionList__Prefix">
          <%= prefix %>
        </span>
      <% end %>

      <span class="Polaris-ActionList__Text">
        <% if @help_text.present? %>
          <span class="Polaris-ActionList__ContentBlock">
            <span class="Polaris-ActionList__ContentBlockInner">
              <%= content %>
            </span>
            <%= polaris_text_subdued { @help_text } %>
          </span>
        <% else %>
          <%= content %>
        <% end %>
      </span>

      <% if suffix.present? %>
        <span class="Polaris-ActionList__Suffix">
          <%= suffix %>
        </span>
      <% end %>
    </div>
  <% end %>
</li>
