<p>
  <%= polaris_text_subdued { "No supplier listed" } %>
</p>
<p>
  <%= polaris_text_strong { "Total" } %>
</p>
<p>
  <%= polaris_text_positive { "Orders increased" } %>
</p>
<p>
  <%= polaris_text_negative { "Orders decreased" } %>
</p>
<p>
  <%= polaris_text_code { '@foo = "bar"' } %>
</p>
