<%= render Polaris::Labelled::Component.new(**labelled_attrs) do %>
  <div class="Polaris-Connected">
    <% if connected_left.present? %>
      <div class="Polaris-Connected__Item">
        <%= connected_left %>
      </div>
    <% end %>

    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
      <%= content_tag('div', content_tag_options) do %>
        <% if @prefix.present? %>
          <div class="Polaris-TextField__Prefix">
            <%= @prefix %>
          </div>
        <% end %>

        <% if @form.present? %>
          <%= @form.public_send(input, @attribute, input_attrs) %>
        <% else %>
          <%= public_send(input_tag, @attribute, @value, input_attrs) %>
        <% end %>

        <% if @suffix.present? %>
          <div class="Polaris-TextField__Suffix">
            <%= @suffix %>
          </div>
        <% end %>

        <% if @show_character_count %>
          <div
            class="Polaris-TextField__CharacterCount
              <% if @multiline %>
                Polaris-TextField__AlignFieldBottom
              <% end %>"
            data-polaris--text-field-target="characterCount"
            aria-label="<%= character_count.label %>"
            aria-atomic="true"
          >
            <%= character_count.text %>
          </div>
        <% end %>

        <% if @clear_button %>
          <button
            type="button"
            class="Polaris-TextField__ClearButton
              <% if @value.blank? %>
                Polaris-TextField__ClearButton--hidden
              <% end %>"
            tabindex="0"
            data-polaris--text-field-target="clearButton"
            data-action="click->polaris--text-field#onClearClick"
          >
            <%= polaris_visually_hidden { "Clear" } %>

            <%= render Polaris::Icon::Component.new(color: "base") do %>
              <path fill-rule="evenodd" d="M10 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zM7.707 6.293a1 1 0 0 0-1.414 1.414L8.586 10l-2.293 2.293a1 1 0 1 0 1.414 1.414L10 11.414l2.293 2.293a1 1 0 1 0 1.414-1.414L11.414 10l2.293-2.293a1 1 0 0 0-1.414-1.414L10 8.586 7.707 6.293z"></path>
            <% end %>
          </button>
        <% end %>

        <% if number? and not @disabled %>
          <div class="Polaris-TextField__Spinner" aria-hidden="true">
            <div
              role="button"
              class="Polaris-TextField__Segment"
              tabindex="-1"
              data-action="click->polaris--text-field#onPlusClick"
            >
              <div class="Polaris-TextField__SpinnerIcon">
                <%= render Polaris::Icon::Component.new do %>
                  <path d="M15 12l-5-5-5 5h10z"></path>
                <% end %>
              </div>
            </div>

            <div
              role="button"
              class="Polaris-TextField__Segment"
              tabindex="-1"
              data-action="click->polaris--text-field#onMinusClick"
            >
              <div class="Polaris-TextField__SpinnerIcon">
                <%= render Polaris::Icon::Component.new do %>
                  <path d="M5 8l5 5 5-5H5z"></path>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="Polaris-TextField__Backdrop"></div>
      <% end %>
    </div>

    <% if connected_right.present? %>
      <div class="Polaris-Connected__Item">
        <%= connected_right %>
      </div>
    <% end %>
  </div>
<% end %>
