<%= render(Polaris::BaseComponent.new(**system_arguments)) do %>
  <% if items.present? %>
    <% if @title.present? %>
      <li class="Polaris-Navigation__SectionHeading">
        <%= polaris_text(as: :span, color: :subdued, variant: :headingXs) do %>
          <%= @title %>
        <% end %>
        <%= action %>
      </li>
    <% end %>
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  <% else %>
    <%= content %>
  <% end %>
<% end %>
