<%= render Polaris::BaseComponent.new(**@system_arguments) do %>
  <% if @title.present? && @title.is_a?(String) %>
    <div class="Polaris-Card__SectionHeader">
      <% if @actions.present? %>
        <%= polaris_stack(alignment: "trailing") do %>
          <%= polaris_stack_item(fill: true) do %>
            <%= polaris_sub_heading { @title } %>
          <% end %>

          <%= polaris_stack_item do %>
            <%= polaris_button_group do |group| %>
              <% @actions.each do |action| %>
                <% group.button(**action) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= polaris_sub_heading { @title } %>
      <% end %>
    </div>
  <% end %>

  <% if subsections.present? %>
    <% subsections.each do |subsection| %>
      <%= subsection %>
    <% end %>
  <% else %>
    <%= content %>
  <% end %>
<% end %>
